body {
  font-family: 'Avenir', sans-serif;
}

.login-container {
  display: flex;
  height: 60vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login-header {
  margin-bottom: 5vh;
}