html, body {
  font-family: 'Avenir', sans-serif !important;
  
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Avenir', san-serif !important;
}

h1 {
  font-size: 4em;
}

.login-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url('/src/assets/landing.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px 50px;
}

.login-container h1 {
  font-size: 6.5em;
  margin-top: 20vh;
  color: rgb(46, 46, 46);
}

.login-container h3 {
  font-size: 1.2em;
  color: #6e6e6e;
  font-weight: 200;
  margin-top: -3vh;
  margin-bottom: 7vh;
}



.facts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculate-container {
  display:flex;
  flex-direction:column;
  text-align:center;
  margin-top:30px;
}

.dropdown-wrapper {
  display:flex;
  width:100;
  flex-direction:row;
  justify-content:center;
  align-content:center
}

.dropdown-container {
  margin-right:20px;
}

.button-container {
  width:100;
  margin-top:20px;
}

.login-header {
  margin-bottom: 5vh;
}

#google-login-button div:first-child {
  border-radius: 5px;
}

.donate-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-bottom: 7vh;
}

.button-container {
  height: fit-content;
  width: fit-content;
}

.donate-container .button {
  margin-right: 20px;
  align-self: center;
}

.button {
  height: 40px;
  width: 100px;
  border-radius: 5px;
  background-color: #9d9d9d;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
}

.light {
  font-weight: 200;
}