html, body {
  font-family: 'Avenir', sans-serif !important;
  
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Avenir', san-serif !important;
}

h1 {
  font-size: 4em;
}

.login-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url('/src/assets/landing.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px 50px;
}

.login-container h1 {
  font-size: 6.5em;
  margin-top: 20vh;
  color: rgb(46, 46, 46);
}

.login-container h3 {
  font-size: 1.2em;
  color: #6e6e6e;
  font-weight: 200;
  margin-top: -3vh;
  margin-bottom: 7vh;
}

.calculate-container h2 {
  font-size: 2.8em;
}

.calculate-container h3 {
  font-size: 1.2em;
  color: #6e6e6e;
  font-weight: 200;
  margin-bottom: 7vh;
}
 
.facts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculate-container {
  height: 100vh;
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-image: url('/src/assets/calculate-background.svg');
  background-size: cover;
  padding: 10vh 0;
}

.dropdown-wrapper {
  display:flex;
  width:100;
  flex-direction:row;
  justify-content:center;
  align-content:center
}

.dropdown-container {
  margin-right:20px;
}

.buttonsemantic-container {
  width:100;
  margin-top:20px;
}

.ui.button {
  width:18em;
}

.login-header {
  margin-bottom: 5vh;
}

#google-login-button div:first-child {
  border-radius: 5px;
}

.donate-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-bottom: 7vh;
}

.button-container {
  height: fit-content;
  width: fit-content;
}

.calculate-button {
  border-radius: 50px !important;
  height: 50px !important;
  background: #FF839C !important;
  color: white !important;
  position: relative;
  bottom: 100px;
}

.donate-container .button {
  margin-right: 20px;
  align-self: center;
  width:100;
  margin-top:20px;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  background-color: #9d9d9d;
  color: white;
}

.button {
  border: none;
  cursor: pointer;
  outline: none;
}

.checkout-container {
  font-size: 18px;
  margin-top: 40px;
  margin-left: 450px;
  margin-bottom: 40px;
  padding-bottom: 40px;
}

.stripe-label {
  color: #6b7c93;
  font-weight: 300;
  letter-spacing: 0.025em;
  font-size: 18px;

}

.stripe-button {
  white-space: nowrap;
  border: 0;
  outline: 0;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  color: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  background-color: #6772e5;
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  margin-top: 10px;
}

.stripe-button:hover {
  color: #fff;
  cursor: pointer;
  background-color: #7795f8;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, .10), 0 3px 6px rgba(0, 0, 0, .08);
}

.stripe-element-container {
    display: block;
    margin: 10px 0 20px 0;
    max-width: 500px;
    padding: 10px 14px;
    font-size: 1em;
    font-family: 'Source Code Pro', monospace;
    box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    background: white;
.chart-container {
  height: 400px;
  width: 400px;
  margin: 50px 0;
}

#bar-graph {
  position: absolute;
  left: 20vw;
}

#pie-chart {
  position: absolute;
  right: 20vw;
}

.side-ferns {
  height: 400px;
  width: 200px;
  position: absolute;
  top: 15vh;
  right: 0;
  background-image: url('/src/assets/side-ferns.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.side-plants {
  height: 400px;
  width: 324px;
  position: absolute;
  top: 70vh;
  left: 0;
  background-image: url('/src/assets/side-plants.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.light {
  font-weight: 200;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 170px;
  text-align: center;
}

.fact-container {
  height: 400px;
  width: 400px;
  background-image: url('/src/assets/fun-fact-circle.svg');
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.fact-container h4 {
  position: relative;
  top: 60px;
}

.icon-container {
  height: 150px;
  width: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  top: 130px;
}

.plane {
  background-image: url('/src/assets/plane.svg');
}

.car {
  background-image: url('/src/assets/car.svg');
  left: 260px;
}

.left {
  left: -20vw;
}

.right {
  right: -20vw;
}